@CHARSET "UTF-8";
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    /*background: url(../images/admin_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
    /*background-image: url("../images/bg.gif");
    background-repeat: repeat-y;
    background-repeat: repeat-x;*/
}

body {
    height: 100%;
    width: 100%;
    background-color: #5F9EA0;
}

#charts, #chartsMonthly {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.chartTitle {
    text-align: center;
    width: 1024px;
    color: white;
    font-size: 20px;
    font-family: tahoma, arial, serif;
    line-height: 1em;
    text-shadow: 1px 2px 2px black;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #FFF !important;
}

.column {
    position: relative;
    display: flex;
    height: calc(100% - 55px);
}

div .viewport {
    flex-direction: row;
    width: calc(100% - 200px);
    height: calc(100% - 55px);
    overflow-y: auto;
    left: 200px;
    position: fixed;
}

table a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

table a:visited {
    color: #999999;
    font-weight: bold;
    text-decoration: none;
}

table a:active, table a:hover {
    color: #bd5a35;
    text-decoration: underline;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    margin: 20px;
    border: #ccc 1px solid;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
    overflow-x: hidden;
}

table th {
    padding: 11px 15px 11px 15px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed),
    to(#ebebeb));
    background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

th {
    text-transform: uppercase;
}

table th:first-child {
    text-align: left;
    padding-left: 20px;
}

table tr:first-child th:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

table tr:first-child th:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

table tr {
    text-align: center;
    padding-left: 20px;
}

table td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
}

table td {
    padding: 10px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb),
    to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr:nth-child(even) td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8),
    to(#f6f6f6));
    background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}

table tr:last-child td {
    border-bottom: 0;
}

table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2),
    to(#f0f0f0));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

#dataTable {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: white;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

.viewport {
    width: 100%;
    text-align: center;
}

h1, h2 {
    font-family: "Exo", sans-serif;
    margin: 10px 0;
    font-weight: bold;
    text-rendering: optimizelegibility;
    font-size: 36px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    color: #285A7E;
    font-variant: small-caps;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tablespace {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tablespace table {
    min-width: 500px;
}

/* CSS spinner doanloaded from http: //cssload.net /#sthash.FjBd1SOk.dpuf */
#circularG {
    position: relative;
    width: 128px;
    height: 128px;
    top: 50%;
    left: 50%;
    margin-left: -64px;
    margin-top: -64px;
}

.circularG {
    position: absolute;
    background-color: #1D457B;
    opacity: 0.5;
    width: 29px;
    height: 29px;
    -moz-border-radius: 19px;
    -moz-animation-name: bounce_circularG;
    -moz-animation-duration: 1.04s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -webkit-border-radius: 19px;
    -webkit-animation-name: bounce_circularG;
    -webkit-animation-duration: 1.04s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -o-border-radius: 19px;
    -o-animation-name: bounce_circularG;
    -o-animation-duration: 1.04s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    -ms-border-radius: 19px;
    -ms-animation-name: bounce_circularG;
    -ms-animation-duration: 1.04s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    border-radius: 19px;
    animation-name: bounce_circularG;
    animation-duration: 1.04s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

#circularG #description {
    position: absolute;
    top: 40%;
    font-size: 15px;
    width: 50px;
    height: 50px;
    left: 22%;
    font-weight: 600;
    font-family: Arial;
    color: rgb(28, 54, 71);
}

#circularG_1 {
    left: 0;
    top: 50px;
    -moz-animation-delay: 0.39s;
    -webkit-animation-delay: 0.39s;
    -o-animation-delay: 0.39s;
    -ms-animation-delay: 0.39s;
    animation-delay: 0.39s;
}

#circularG_2 {
    left: 14px;
    top: 14px;
    -moz-animation-delay: 0.52s;
    -webkit-animation-delay: 0.52s;
    -o-animation-delay: 0.52s;
    -ms-animation-delay: 0.52s;
    animation-delay: 0.52s;
}

#circularG_3 {
    top: 0;
    left: 50px;
    -moz-animation-delay: 0.65s;
    -webkit-animation-delay: 0.65s;
    -o-animation-delay: 0.65s;
    -ms-animation-delay: 0.65s;
    animation-delay: 0.65s;
}

#circularG_4 {
    right: 14px;
    top: 14px;
    -moz-animation-delay: 0.78s;
    -webkit-animation-delay: 0.78s;
    -o-animation-delay: 0.78s;
    -ms-animation-delay: 0.78s;
    animation-delay: 0.78s;
}

#circularG_5 {
    right: 0;
    top: 50px;
    -moz-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    animation-delay: 0.91s;
}

#circularG_6 {
    right: 14px;
    bottom: 14px;
    -moz-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    animation-delay: 1.04s;
}

#circularG_7 {
    left: 50px;
    bottom: 0;
    -moz-animation-delay: 1.17s;
    -webkit-animation-delay: 1.17s;
    -o-animation-delay: 1.17s;
    -ms-animation-delay: 1.17s;
    animation-delay: 1.17s;
}

#circularG_8 {
    left: 14px;
    bottom: 14px;
    -moz-animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    -o-animation-delay: 1.3s;
    -ms-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

@-moz-keyframes bounce_circularG {
    0% {
        -moz-transform: scale(1)
    }
    100% {
        -moz-transform: scale(.3)
    }
}

@-webkit-keyframes bounce_circularG {
    0% {
        -webkit-transform: scale(1)
    }
    100% {
        -webkit-transform: scale(.3)
    }
}

@-o-keyframes bounce_circularG {
    0% {
        -o-transform: scale(1)
    }
    100% {
        -o-transform: scale(.3)
    }
}

@-ms-keyframes bounce_circularG {
    0% {
        -ms-transform: scale(1)
    }
    100% {
        -ms-transform: scale(.3)
    }
}

@keyframes bounce_circularG {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(.3)
    }
}

input:not([type=file]), select {
    font-size: 15px;
    font-family: "Exo", sans-serif;
    padding: 5px 10px;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(29, 69, 123);
}

.button {
    cursor: pointer;
    box-shadow: 0 1px 0 0 #97C4FE inset;
    display: inline-block;
    color: rgb(29, 69, 123);
    font-size: 15px;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(29, 69, 123);
    font-family: "Exo", sans-serif;
    font-weight: 600;
}

.button:hover {
    background-color: rgb(29, 69, 123);
    color: rgb(255, 255, 255);
    box-shadow: none;
}

.button:active {
    position: relative;
    top: 1px;
}

.register_form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_form > #registrationForm select, input, p {
    width: 200px;
}

.register_form > #registrationForm {
    width: 400px;
    margin-left: -150px;
}

.left {
    text-align: right;
    float: left;
    width: 50%;
    height: 35px;
    line-height: 35px;
}

.right {
    text-align: left;
    float: right;
    width: 50%;
    height: 35px;
    line-height: 35px;
}

.inline {
    display: inline;
}

.inline > div {
    display: inline;
}

#chartContainer {
    height: 500px;
    width: 800px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
}

.pop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background: #fff;
    border: 1px solid #999;
    padding: 10px;
    width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

.popoverCloseIcon {
    display: inline-block;
    color: #555;
    font-weight: 800;
}

.popoverClose {
    position: absolute;
    cursor: pointer;
    top: 4px;
    right: 7px;
    z-index: 12;
    color: red;
    font-weight: 900;
}

.popoverTitle {
    min-width: 200px;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    color: #696969;
}

#spinner {
    font-size: 20px;
    top: calc(50%);
    left: calc(50%);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 0 #ffffff;
    }
    12.5% {
        box-shadow: 0 -3em 0 0 #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0 0 0 #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em #ffffff, 2em -2em 0 0 #ffffff, 3em 0 0 0.2em #ffffff, 2em 2em 0 0 #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 0 #ffffff, 2em 2em 0 0.2em #ffffff, 0 3em 0 0em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    50% {
        box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 0em #ffffff, 0 3em 0 0.2em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 0 #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0 0 0 #ffffff, -2em -2em 0 -1em #ffffff;
    }
    75% {
        box-shadow: 0em -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0 #ffffff;
    }
    87.5% {
        box-shadow: 0em -3em 0 0 #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0 #ffffff, -2em -2em 0 0.2em #ffffff;
    }
}

@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 0 #ffffff;
    }
    12.5% {
        box-shadow: 0 -3em 0 0 #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0 0 0 #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em #ffffff, 2em -2em 0 0 #ffffff, 3em 0 0 0.2em #ffffff, 2em 2em 0 0 #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 0 #ffffff, 2em 2em 0 0.2em #ffffff, 0 3em 0 0em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    50% {
        box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 0em #ffffff, 0 3em 0 0.2em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 0 #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0 0 0 #ffffff, -2em -2em 0 -1em #ffffff;
    }
    75% {
        box-shadow: 0em -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0 #ffffff;
    }
    87.5% {
        box-shadow: 0em -3em 0 0 #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0 #ffffff, -2em -2em 0 0.2em #ffffff;
    }
}

#redrawTable {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
#redrawTable:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
#redrawTable:active {
    position:relative;
    top:1px;
}
